body{
    width: 100%;
    min-height: 100vh;
    font-family:  "Poppins", sans-serif;
}
header{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
}
nav li{
    display: flex;
    display: inline-block;
    padding: 20px 2px;
    margin-right: 80px;
    align-items: center;
    font-size: 15px;


}
.home{
    background-color: orangered;
    border-radius: 35px;
    padding: 10px;
}
.fistimage{
    margin-left: 20px;
    width: 100px;
}

main{
    margin-top: 50px;
}

.content-wrapper{
    margin-top: 50px;
    font-size: 30px;
    margin-left: 120px;
}

.item-1{
    width: 100px;
    margin-left: 120px;
    margin-top: 30px;
}
.item-2{
    vertical-align: top;
    margin-left: 620px;
    margin-top: -235px;
}
.item-3{
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}
.item-4{
    font-size: 11px;
}
.boxsection{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}
#box1{
    background-color: brown;
    padding: 30px 20px;
    height: 50vh;

   
}
#box2{
    background-color: blue;
    padding: 30px 20px;
    height: 50vh;

}
#box3{
    background-color: brown;
    padding: 30px 20px;
    height: 50vh;
}
.content2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
.lastimage{
    display: flex;
    margin-top: 30px;
    background-image: url(about_bg.jpg);
    height: 65vh;
    background-position: center;
}
.finalimage{
    margin-left: 300px;
    
}
.lastcontent{
    margin-left: 100px;
    margin-top: 50px;
    color: white;
    font-size:small;
}
.box img{

    padding-left: 80px;
    margin-bottom: 10px;
}




